In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('./katalog.csv')

In [4]:
df.columns

Index(['complete_machine_sample_number', 'turbo_maker_oe_no', 'turbo_maker',
       'turbo_model', 'vehicle_oem_number', 'vehicle_brand', 'vehicle_model',
       'engine', 'year', 'complete_turbo_code', 'gasket_kits', 'chra', 'sw',
       'cw', 'back_plate', 'thrust_flinger', 'thrust_bearing',
       'journal_bearing', 'bearing_housing', 'actuator', 'turbine_housing',
       'compressor_housing', 'nozzle_ring_assembly', 'repair_kits',
       'query_turbo_maker_oe_no'],
      dtype='object')

In [24]:
print(df['vehicle_oem_number'], df['vehicle_oem_number_LDupper'])

0          55191597
1          46769104
2          46786078
3          46779032
4          46767677
           ...
3488    28231-2B780
3489     2700902780
3490     2700902780
3491            NaN
3492            NaN
Name: vehicle_oem_number, Length: 3493, dtype: object 0         55191597
1         46769104
2         46786078
3         46779032
4         46767677
           ...
3488    282312B780
3489    2700902780
3490    2700902780
3491           NAN
3492           NAN
Name: vehicle_oem_number_LDupper, Length: 3493, dtype: object

In [7]:
import re

In [18]:
'282312B780' == '282312B780'

True